.root{
    -fx-background-image: url("/image/game_over.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 700;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.root1{
    -fx-background-image: url("/image/you_won.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 700;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}